<div class="background"  *ngIf="(!selected_movie)">



    <div class="boundingbox">
        <input #movieholder placeholder="{{text}}" class="form-control" >
        <button class="btn btn-success btn-fire" (click)="search(movieholder)"><span class="fa fa-search"> Search...</span></button>

    </div>


</div>

<div id="movie_listing" class="container" *ngIf="(!selected_movie)" infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="400"
     (scrolled)="onScroll()">

    <ul *ngIf="moviedata">
        <li *ngFor="let movie of moviedata" (error)="alert(' No Data Available ')">
            <div class="col-sm-6">
                <section class="first">
                    <span class="title-tag" (click)="onSelect(movie)"><a>{{movie.title}}</a></span>
                    <a (click)="onSelect(movie)"><img class="poster" [src]="'https://image.tmdb.org/t/p/w300'+movie.poster_path"   alt={{movie.original_title}}  onError="this.src='assets/images/bg.jpg';"   ></a>
                    <p class="overview">{{movie.overview}}</p>
                </section>
                <section class="second">
                    <span class="fa fa-film fa-2x"></span>
                    <span class="genres">{{replacer(movie.genre_ids)}}</span>

                    <div class="pull-right">
                        <!-- <a class="btn btn-info" alt="Remove from Favourites" (click)="onSelect(movie)">know more...</a>
                     --><a class="btn btn-default" alt="Remove from Favourites"><span class="fa fa-star-o" aria-hidden="true"></span></a>
                        <a class="btn btn-success" alt="Add to Favourites"><span class="fa fa-star" aria-hidden="true"></span></a>
                    </div>
                </section>
            </div>
        </li>
    </ul>
</div>
<div class="container" *ngIf="(!selected_movie)">
    <h2 #a *ngIf="!moviedata" class="nodata"><label><span class="fa fa-hand-pointer-o" aria-hidden="true"></span> Type a word to search.. <span class="fa fa-hand-pointer-o" aria-hidden="true"></span></label></h2>

    <h2 *ngIf="(moviedata !== undefined) || (pager === total)"  class="nodata" > Aww Crap! No Data, maybe movies are still into making :) </h2>
</div>

<div class="container-fluid" *ngIf="(selected_movie)" >
    <div class=""><a  class="btn btn-warning pull-right back-button"  (click)="clearSelection();"><span class="fa fa-undo"></span> go back...</a>
    </div>
    <a><img class="cover_photo" [src]="'https://image.tmdb.org/t/p/w500'+selected_movie.backdrop_path"   alt={{selected_movie.original_title}}  onError="this.src='assets/images/bg.jpg';" (click)="onSelect(movie)" ></a>
    <h1>{{selected_movie.original_title}}</h1>
    <label>Details: </label><span> {{selected_movie.overview}}</span><br>
    <label>18+: </label><span> {{selected_movie.adult}}</span><br>
    <label>Release Date: </label><span> {{selected_movie.release_date}}</span><br>
    <label>Type/ Genre: </label><span> {{replacer(selected_movie.genre_ids)}}</span><br>
    <label>Score:</label><span> {{selected_movie.vote_average}}</span>
</div>
