.background {
    background-image: url("./material_splash.svg");
    background-size: cover;
    width: 100%;
    height: 400px;
    text-align: center;
}

.back-button {
    float: right;
    position: relative;
    width: 10%;
    top: 50px;
    right: 40px;

}


.boundingbox {
    margin: auto;
    width: 30%;
    padding-top: 200px;
    text-align: left;
    height: auto;
}
.boundingbox input {
    width: 70%;
    min-width: 200px;
    display: inline;
}

li {
    text-align: left;
    text-decoration: none;
    display: inline;
}

.poster {
    max-width: 200px;
    height: 100%;
    max-height: 250px;
    float: left;
    margin-right: 10px;


}
a {
    margin-top: 10px;
    text-decoration: none;
    cursor: hand;
}
a:hover {
    text-decoration: none;
    cursor: hand;
}
p {
    width: 500px;
    text-align: justify;
}


.col-sm-6 {
    margin-top: 20px;
    background-color: darkcyan;

}
.first {
    max-height: 250px ;
    min-height: 250px ;
    overflow: hidden;

}
.second a, .fa-2x {
    margin: 5px 5px;
}
.pull-right a {
    margin: 5px 20px;
}
.title-tag {
    display: inline;
    font-size: 18px;
    font-family: sans-serif;

}
.title-tag>a {
    color: white;
    size: 18px;

}
.overview {
    font-size: 90%;
    color: white;

}
.container {
    background-color: #009688;
}
.container-fluid {
    background-color: #009688;
    min-height: 800px;
}
.genres {
    font-size: 90%;
}


.nodata {
    color: white;
    font-size: x-large;
    margin: 50px auto;
    position: relative;
    min-height: 50px;
    text-align: center;
}

.cover_photo {
    max-width: 100%;

}

label, h1 {
    color: white;
}


@media (max-width: 768px) {
    .boundingbox {
        width: 80%;
        padding-top: 150px;
        text-align: left;
        height: auto;
        transition: width 2s;
    }
    .boundingbox input {
        width: 100%;
    }
    .btn-fire {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .boundingbox {
        width: 100%;
        padding-top: 100px;
        text-align: left;
        height: auto;
        transition: width 2s;
    }
    .boundingbox input {
        width: 100%;
    }
    .btn-fire {
        width: 100%;
    }
}
