<div class="background">
    <ul *ngIf="moviedata">
        <li *ngFor="let movie of moviedata" (error)="alert(' No Data Available ')">
            <div class="col-sm-6">
                <section class="first">
                    <span class="title-tag" (click)="onSelect(movie)"><a >{{movie.title}}</a></span>
                    <a><img class="poster" [src]="'https://image.tmdb.org/t/p/w300'+movie.poster_path"   alt={{movie.original_title}}  (click)="onSelect(movie)" onError="this.src='assets/images/bg.jpg';" ></a>
                    <p class="overview">{{movie.overview}}</p>
                </section>
                <section class="second">
                    <span class="fa fa-film fa-2x"></span>
                    <span class="genres">{{replacer(movie.genre_ids)}}</span>

                    <div class="pull-right">
                        <!-- <a class="btn btn-info" alt="Remove from Favourites" (click)="onSelect(movie)">know more...</a>
                     --><a class="btn btn-default" alt="Remove from Favourites"><span class="fa fa-star-o" aria-hidden="true"></span></a>
                        <a class="btn btn-success" alt="Add to Favourites"><span class="fa fa-star" aria-hidden="true"></span></a>
                    </div>
                </section>
            </div>
        </li>
    </ul>


</div>